<!DOCTYPE html>
<html>
<link rel="icon" href="logo.ico" type="image/icon type">
<title>Asmia | Interior Designer | Engineer</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel='stylesheet'
	href='https://fonts.googleapis.com/css?family=Roboto'>
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
html, body, h1, h2, h3, h4, h5, h6 {
	font-family: "Roboto", sans-serif
}
</style>
<body class="w3-light-grey">

	<!-- Page Container -->
	<div class="w3-content w3-margin-top" style="max-width: 1400px;">

		<!-- The Grid -->
		<div class="w3-row-padding">

			<!-- Left Column -->
			<div class="w3-third">

				<div class="w3-white w3-text-grey w3-card-4">
					<div class="w3-display-container">
						<img src="/me.png" style="width: 100%; heigth: 10%;" alt="Avatar">
						<div
							class="w3-display-bottomleft w3-container w3-text-black w3-teal w3-block"
							style="border-top-left-radius: 50px 20px; border-top-right-radius: 50px 20px;">
							<h2 style="color: white">Asmia Kirmani</h2>
						</div>
					</div>
					<div class="w3-container">
						<p>
							<i
								class="fa fa-briefcase fa-fw w3-margin-right w3-large w3-text-teal"></i>Interior
							Designer
						</p>
						<p>
							<i class="fa fa-home fa-fw w3-margin-right w3-large w3-text-teal"></i>Erragadda,HYD
						</p>
						<p>
							<i
								class="fa fa-envelope fa-fw w3-margin-right w3-large w3-text-teal"></i>asimakirmani@gmail.com
						</p>
						<p>
							<i
								class="fa fa-phone fa-fw w3-margin-right w3-large w3-text-teal"></i>+91
							86869 *****
						</p>
						<hr>

						<p class="w3-large">
							<b><i
								class="fa fa-asterisk fa-fw w3-margin-right w3-text-teal"></i>Skills</b>
						</p>
						<p>Interior Desginer</p>
						<div class="w3-light-grey w3-round-xlarge w3-small">
							<div class="w3-container w3-center w3-round-xlarge w3-teal"
								style="width: 90%">90%</div>
						</div>
						<p>Web Desginer</p>
						<div class="w3-light-grey w3-round-xlarge w3-small">
							<div class="w3-container w3-center w3-round-xlarge w3-teal"
								style="width: 80%">
								<div class="w3-center w3-text-white">80%</div>
							</div>
						</div>
						<p>Social Media Usage</p>
						<div class="w3-light-grey w3-round-xlarge w3-small">
							<div class="w3-container w3-center w3-round-xlarge w3-teal"
								style="width: 100%">100%</div>
						</div>
						<br>

						<p class="w3-large w3-text-theme">
							<b><i class="fa fa-globe fa-fw w3-margin-right w3-text-teal"></i>Languages</b>
						</p>
						<p>English</p>
						<div class="w3-light-grey w3-round-xlarge">
							<div class="w3-round-xlarge w3-teal"
								style="height: 24px; width: 10%"></div>
						</div>
						<p>Urdu</p>
						<div class="w3-light-grey w3-round-xlarge">
							<div class="w3-round-xlarge w3-teal"
								style="height: 24px; width: 95%"></div>
						</div>
						<p>Telugu</p>
						<div class="w3-light-grey w3-round-xlarge">
							<div class="w3-round-xlarge w3-teal"
								style="height: 24px; width: 75%"></div>
						</div>
						<br>
					</div>
				</div>
				<br>

				<!-- End Left Column -->
			</div>

			<!-- Right Column -->
			<div class="w3-twothird">

				<div class="w3-container w3-card w3-white w3-margin-bottom">
					<h2 class="w3-text-grey w3-padding-16">
						<i
							class="fa fa-suitcase fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>Work
						Experience
					</h2>
					<div class="w3-container">
						<h5 class="w3-opacity">
							<b>Interior Desginer</b>
						</h5>
						<h6 class="w3-text-teal">
							<i class="fa fa-calendar fa-fw w3-margin-right"></i>Jan 2016 - <span
								class="w3-tag w3-teal w3-round">Current</span>
						</h6>
						<p>Interior Designer myself and owns an exclusive home decor
							store. Hence, My taste in design is mature but has touches
							playfulness. In her plush sea-facing duplex in Mumbai, Mrs
							Funnybones has paired minimal furniture and neutral backdrops to
							showcase an eclectic mix of accent pieces.</p>
						<hr>
					</div>
					<div class="w3-container">
						<h5 class="w3-opacity">
							<b>Web Developer</b>
						</h5>
						<h6 class="w3-text-teal">
							<i class="fa fa-calendar fa-fw w3-margin-right"></i>Mar 2014 -
							feb 2015
						</h6>
						<p>I Believe that Design is not just and looks like and feel
							like DESIGN is how it works</p>
						<hr>
					</div>
					<div class="w3-container">
						<h5 class="w3-opacity">
							<b>Tutor</b>
						</h5>
						<h6 class="w3-text-teal">
							<i class="fa fa-calendar fa-fw w3-margin-right"></i>Jun 2014 -
							Mar 2015
						</h6>
						<p>My way of teach is totally different (I don't remember what
							I am try to teach them. They remember what you are.).</p>
						<br>
					</div>
				</div>

				<div class="w3-container w3-card w3-white">
					<h2 class="w3-text-grey w3-padding-16">
						<i
							class="fa fa-certificate fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>Education
					</h2>
					<div class="w3-container">
						<h5 class="w3-opacity">
							<b>Bachelor Degree</b>
						</h5>
						<h6 class="w3-text-teal">
							<i class="fa fa-calendar fa-fw w3-margin-right"></i>2016-20
						</h6>
						<p>I don't know why I am studying Engineering question mark me also (?).</p>
						<hr>
					</div>
					<div class="w3-container">
						<h5 class="w3-opacity">
							<b>Intermediate</b>
						</h5>
						<h6 class="w3-text-teal">
							<i class="fa fa-calendar fa-fw w3-margin-right"></i>2014 - 2016
						</h6>
						<p>?</p>
						<hr>
					</div>
					<div class="w3-container">
						<h5 class="w3-opacity">
							<b>Schooling</b>
						</h5>
						<h6 class="w3-text-teal">
							<i class="fa fa-calendar fa-fw w3-margin-right"></i>1947 - 2014
						</h6>
						<p>?</p>
						<br>
					</div>
				</div>

				<!-- End Right Column -->
			</div>

			<!-- End Grid -->
		</div>

		<!-- End Page Container -->
	</div>

	<footer class="w3-container w3-teal w3-center w3-margin-top">
		<p>Find me on social media.</p>
		<i class="fa fa-facebook-official w3-hover-opacity"></i> <a
			href="https://www.instagram.com/kirmani1519/" traget="_blank"
			style="text-decoration: none;"> 
		<i class="fa fa-instagram w3-hover-opacity"></i>
		</a><a href="https://www.snapchat.com/add/asima.kirmani" traget="_blank" style="text-decoration: none;"><i class="fa fa-snapchat w3-hover-opacity"></i> </a>
			 <i class="fa fa-twitter w3-hover-opacity"></i> 
		<a href="https://www.linkedin.com/in/asima-kirmani-8512a2155/" traget="_blank" style="text-decoration: none;"><i class="fa fa-linkedin w3-hover-opacity"></i></a>
		<p>Made by <a style="text-doraction: none;" target="_blank">Syed
				Mohiuddin [NO profession]</a>
		</p>
	</footer>

</body>
</html>
